body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}


header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 48px;
    color: #fff;
}

nav {
    background-color: #0056b3;
   
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #ecf0f1; 
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #3498db; 
    transition: background-color 0.3s ease-in-out;
}

nav a:hover {
    background-color: #007BFF;
}
